form {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

label {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form-control {
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 1.3rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

textarea.form-control {
  min-height: 150px;
  resize: vertical;
}

.btn {
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 12px;
  padding: .5rem 1.8rem;
  background-color: #ffffff;
  color: #242424;
  border: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e6e6e6;
  color: #242424;
}

/*Label text*/
@media (max-width: 992px) {
  label {
    font-size: 1.7rem;
  }
}

@media (max-width: 580px) {
  label {
    font-size: 1.3rem;
  }
}

@media (max-width: 400px) {
  label {
    font-size: 1rem;
    margin-bottom: .5rem;
  }
}

/*Form control*/
@media (max-width: 992px) {
  .form-control {
    font-size: 1rem;
    padding: .5rem;
    margin-bottom: 1rem;
    width: 90%;
  }
}

@media (max-width: 580px) {
  .form-control {
    font-size: 1rem;
    padding: .5rem;
    margin-bottom: 1rem;
    width: 80%;
  }
}

@media (max-width: 400px) {
  .form-control {
    border-radius: 10px;
    padding: .3rem;
    margin-bottom: .5rem;
  }
}

/*Button*/
@media (max-width: 400px) {
  .btn {
    font-size: 1rem;
    padding: .4rem 1.5rem;
  }
}