.footer-marquee {
  background-color: #242424;
  /* huom: hex puuttui # merkki! */
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-top: 1px solid white;
}

.marquee-track {
  display: inline-flex;
  animation: scroll 120s linear infinite;
  white-space: nowrap;
  transition: animation-duration 0.5s ease;
}

.footer-marquee:hover .marquee-track {
  animation-play-state: paused;
}

.marquee-track span {
  display: inline-block;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
  padding-right: 2rem;
}

.footer-marquee {
  background-color: #242424;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.footer-marquee.visible {
  opacity: 1;
  transform: translateY(0);
}

.marquee-track {
  display: inline-flex;
  animation: scroll 120s linear infinite;
  white-space: nowrap;
}

.marquee-track span {
  display: inline-block;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
  padding-right: 2rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/*Footer text*/
@media (max-width: 992px) {
  .marquee-track span {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .marquee-track span {
    font-size: 1.5rem;
  }
}

/*Footer padding*/
@media (max-width: 992px) {
  .footer-marquee {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }
}

@media (max-width: 580px) {
  .footer-marquee {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

@media (max-width: 400px) {
  .footer-marquee {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}