.home-wrapper {
  color: #ffffff;
}

.header-name {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 7rem;
  display: inline-block;
}

.skills-section, .header-section, .contactForm {
    margin-bottom: 8rem;
    margin-top: 5rem;
}

.subtext {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size:1.7rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  margin-top: 1rem;
}

.skill-badge {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .5rem 1.8rem;

  border: 2px solid transparent; /* 🔧 Tärkeä muutos */
  border-radius: 71px;

  background-image: linear-gradient(#242424, #242424),  /* tausta */
                    linear-gradient(45deg, #d92cf9, #712bff); /* reunagradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;

  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #ffffff;
  transition: transform 0.2s ease-in-out;
}

.skill-badge:hover {
  transform: scale(1.05);
}

.skill-badge img {
  width: 40px;
  height: 40px;
  filter: invert(100%);
}

.fade-in-section {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1.5s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}
